<ion-view>
    <ion-nav-bar>
    </ion-nav-bar>
        <ion-nav-buttons side="left">
      <a href="#/home" class="button button-icon">
        <img class="header-logo" src="img/fitr-logo-final-black.png">
      </a>
    </ion-nav-buttons>
    <ion-nav-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-icon" ng-click="gotoCart()">
        <i class="header-cart ion-ios-home-outline"></i>
        <span ng-show="cart.length>0" class="badge badge-assertive header-badge">{{cart.length}}</span>
      </button>
    </ion-nav-buttons>
  <ion-content id="aboutus-page" style="text-align:center;">
    <h1 class="about-us-header">About Us</h1>
        <div class="splash" style="text-align:center;">
          <!-- <img src="img/fitr_logo_white.png"/> <br> -->
          <!-- <img id="splash-logo-about" src="img/fitr-logo-final-white.png"/> <br> -->
          <!-- <h1>Coming soon</h1> -->
          <p id="about-us-text">
          Fork In The Road (FITR) grew from a desire to connect lovers of fresh local produce with our neighboring farmers who work hard to provide it. After countless trips through Lake Huron’s lush farmland, we realized there is such a diverse variety of unbelievable produce available, yet no singular information source to guide us there. So we built a mobile website that uses a quick search of your desired fruits, vegetables, meats, alcohol, and other perishables, and returns a list of nearby farms (and their relevant info) that currently produce and sell exactly what you’re desiring! Our aim is to cultivate consumer awareness of local farms, wineries and breweries.<br><br>
 
          Using FITR, however, will just be the start of your adventure! The journey of coasting down quiet, country roads with the windows down will produce a level of pleasure and curiosity that will only be surpassed once arriving at any of these bountiful destinations. We promise that talking with these friendly farmers, exploring their picturesque landscapes and tasting their deliciously fresh produce will satisfy any hunger for local goodness and knowledge that you may have.<br><br>
           
          So please come join us on this journey exploring Lake Huron’s surrounding farmland. We promise that each experience will be completely unique from the last! Be sure to share the beauty along the way (Instagram & Twitter: ForkintheroadCA)!<br>
          <a href="https://www.instagram.com/forkintheroadca/" target="_blank" class="button button-icon about-us-social icon ion-social-instagram"></a>
        <a href="https://twitter.com/forkintheroadca" target="_blank" class="button button-icon about-us-social icon ion-social-twitter"></a><br><br>
          Sincerely,<br><br>
          The FITR Team<br><br>
<!--           To contact the Fork In the Road (FITR) Team,<br>
          please contact Andrew Cram<br> -->

          Contact us at: <a href="mailto:forkintheroadca@gmail.com">ForkInTheRoadCa@gmail.com</a><br>
        
          <!-- Cell: <a href="tel:6474645009">(647) 464-5009</a><br> -->

          </p>
    </div>
    <!-- <img id="about-bg" src="img/fitr-about-background.jpg"> -->
  </ion-content>
</ion-view>