<ion-view>
    <ion-nav-bar class="nav-style">>
    </ion-nav-bar>
        <ion-nav-buttons side="left">
      <a href="#/splash" class="button button-icon">
        <img class="header-logo" src="img/Logo - FITR - July12 black.png">
      </a>
    </ion-nav-buttons>
    <ion-nav-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-icon" ng-click="search()">
        <i class="header-cart ion-android-cart"></i>
        <span class="badge badge-assertive header-badge">5</span>
      </button>
    </ion-nav-buttons>
  <ion-content id="home-page">
    <h4>Explore local farms and unearth goodness.</h4>
    <div class="list">
      <a id="list-fruits" class="item home-genre-item" href="#/home/Fruits">
        Fruits
      </a>
      <a id="list-vegetables" class="item home-genre-item" href="#/home/Vegetables">
        Vegetables
      </a>
      <a id="list-meats" class="item home-genre-item" href="#/home/Meats">
        Meats
      </a>
      <a id="list-other" class="item home-genre-item" href="#/home/Other">
        Other
      </a>
      <a id="list-farms" class="item home-genre-item" href="#/Farms">
        Farms
      </a>
    </div>
  </ion-content>
</ion-view>