<ion-view>
    <ion-nav-bar>
    </ion-nav-bar>
        <ion-nav-buttons side="left">
      <a href="#/splash" class="button button-icon">
        <img class="header-logo" src="img/Logo - FITR - July12 black.png">
      </a>
    </ion-nav-buttons>
    <ion-nav-title>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-icon" ng-click="gotoCart()">
        <i class="header-cart ion-ios-home-outline"></i>
        <span ng-show="cart.length>0" class="badge badge-assertive header-badge">{{cart.length}}</span>
      </button>
    </ion-nav-buttons>
  <ion-content id="home-page">
    <h4>Explore local farms and unearth goodness.</h4>
      <a class="home-genre-item" href="#/home/Fruits">
        <img class="genre-header-img" src="img/fruit-md/apricots.jpg">
        <p>Fruits</p>
      </a>
      <a class="home-genre-item" href="#/home/Vegetables">
        <img class="genre-header-img" src="img/vegetables-md/beets.jpg">
        <p>Vegetables</p>
      </a>
      <a class="home-genre-item" href="#/home/Meats">
        <img class="genre-header-img" src="img/meat-md/beef.jpg">
        <p>Meats</p>
      </a>
      <a class="home-genre-item" href="#/home/Other">
        <img class="genre-header-img" src="img/others-md/eggs2.jpg">
        <p>Other</p>
      </a>
      <a class="home-genre-item" href="#/farms">
        <img class="genre-header-img" src="img/Farm/farm.jpg">
        <p>Farms</p>
      </a>
  </ion-content>
</ion-view>