<ion-view>
    <ion-nav-bar>
    </ion-nav-bar>
        <ion-nav-buttons side="left">
      <a href="#/splash" class="button button-icon">
        <img class="header-logo" src="img/fitr-logo-final-black.png">
      </a>
    </ion-nav-buttons>
    <ion-nav-title>
<!--       <button class="button button-icon" ng-click="gotoCart()">
        About Us
      </button> -->
      <a href="#/about" class="about-us-link">About Us</a>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-icon" ng-click="gotoCart()">
        <i class="header-cart ion-ios-home-outline"></i>
        <span ng-show="cart.length>0" class="badge badge-assertive header-badge">{{cart.length}}</span>
      </button>
    </ion-nav-buttons>
  <ion-content id="home-page">
    <h4>Explore local farms and unearth goodness.</h4>
      <a class="home-genre-item" href="#/home/Fruits">
        <img ng-show="mobile" class="genre-header-img" src="img/home/apricots2.jpg">
        <img ng-show="!mobile" class="genre-header-img" src="img/home/apricots2.jpg">
        <p>Fruits</p>
      </a>
      <a class="home-genre-item" href="#/home/Vegetables">
        <img ng-show="mobile" class="genre-header-img" src="img/home/beets.jpg">
        <img ng-show="!mobile" class="genre-header-img" src="img/home/beets2.jpg">
        <p>Vegetables</p>
      </a>
      <a class="home-genre-item" href="#/home/Meats">
        <img ng-show="mobile" class="genre-header-img" src="img/home/beef.jpg">
        <img ng-show="!mobile" class="genre-header-img" src="img/home/beef2.jpg">
        <p>Meats</p>
      </a>
      <a class="home-genre-item" href="#/home/Alcohol">
        <img ng-show="mobile" class="genre-header-img" src="img/home/alcohol.jpg">
        <img ng-show="!mobile" class="genre-header-img" src="img/home/alcohol2.jpg">
        <p>Alcohol</p>
      </a>
      <a class="home-genre-item" href="#/home/Other">
        <img ng-show="mobile" class="genre-header-img" src="img/others-md/eggs2.jpg">
        <img ng-show="!mobile" class="genre-header-img" src="img/others-md/eggs2.jpg">
        <p>Other</p>
      </a>
      <a class="home-genre-item" href="#/farms">
        <img ng-show="mobile" class="genre-header-img" src="img/home/farm.jpg">
        <img ng-show="!mobile" class="genre-header-img" src="img/home/farm2.jpg">
        <p>Farms</p>
      </a>
  </ion-content>
</ion-view>