<ion-view>
  <!-- <ion-content id="splash-page"> -->
  <ion-content>
    
<!--     <p id="splash-container" class="center-align">
      <img id="splash-logo" src="img/fitr_logo_white.png"><br>
      <span style="font-size:20px;">Explore local farms and unearth goodness</span><br>
      <a href="#/home" class="button button-positive light-blue-button center-align">Find Fresh Local Produce In The Grand Bend Area</a>
    </p> -->
    <div class="splash">
    	<img id="splash-logo" src="img/fitr-logo-final-white.png"/> 
	    <!-- <h1>Coming soon</h1> -->
        <p>Explore local farms and unearth goodness.</p>
        <button class="splash-button" ng-click="gotoHome()">Find Fresh Local Produce in Grand Bend Area</button><br>
        <a href="#/about" id="splash-about-us">About Us</a>
        <a href="https://www.instagram.com/forkintheroadca/" target="_blank" class="button button-icon splash-social icon ion-social-instagram"></a>
        <a href="https://twitter.com/forkintheroadca" target="_blank" class="button button-icon splash-social icon ion-social-twitter"></a>
    </div>
    <img id="splash-bg" src="img/splash_bg.jpg">
  </ion-content>
</ion-view>
